{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">

            <div id="section-about" class="center page-section">

                <div class="container clearfix">

<!--                    RESULTS HERE!! -->

                    <div class="clear"></div>

                </div>

            </div>

        </div>

    </section><!-- #content end -->

{% endblock %}